.app_dark_theme {
  --bg-color: #0d1b2a;
  --inverted-bg-color: #1b263b;

  --primary-color: #aac7ff;
  --secondary-color: #b3b3b3;
  --inverted-primary-color: #9bbae2;
  --inverted-secondary-color: #9bbae2;
}
