.app_light_theme {
  --bg-color: #feeafa;
  --inverted-bg-color: #bdc4f8;
  
  --primary-color: #353b45;
  --secondary-color: #978c9f;
  --inverted-primary-color: #3a333f;
  --inverted-secondary-color: #3a333f;
}